*{
    padding: 0;
    margin: 0;
    list-style: none;
}
/*上屏开始*/
 .row .col-xs-12 .header2 img{
    margin: 10px auto;
     display: block;
     width: 130px;
     height: 84px;
}
.row .col-xs-12  .homepage{
    width: 79px;
    height: 46px;
    background: black;
    margin: 20px auto;
    display: block;
    text-decoration: none;
    color: #fff;
    text-align: center;
    line-height: 46px;
    font-size: 16px;
}
.row .header_on{
    width: 140px;
    height: 77px;
    margin:0 auto ;
    padding-top: 14px;
    color: #444444;
    font-size: 33px;
    line-height: 64px;
    text-align: center;
}
.row  .header_bottom{
    width: 80px;
    height: 8px;
    margin: 0 auto;
    background: #336699;
}
.row .header_jieshao{
    margin-top: 68px;
    padding: 0 30px;
}
.row .header_jieshao li{
    width: auto;
    height: 35px;
    margin-bottom: 10px;
    border-bottom: 1px solid #c2c2c2;
    line-height: 34px;
}
.row .portrait{
    width: auto;
    height:auto;
    max-width:100%;
    vertical-align:middle;
    margin: 0 auto;
    display: block;
    padding: 5px;
    border: 3px solid #c2c2c2;
}
.row  .introduction1{
    margin-top: 13px;
    font-size: 18px;
    color:#0f1114;
    font-family: "苹方 粗体";
    font-weight: bold;
    padding: 0 30px;
}
.row .introduction{
    font-size: 14px;
    line-height: 25px;
    color: #696969;
    margin-top: 20px;
    margin-bottom: 165px;
    padding: 0 30px;
}

.big_header {
    background: url("../img/zu1.jpg") no-repeat;
    width: 100%;
    height: 610px;
    background-size: cover;
    transition:all 1s ease-in-out;
}
.nav .col-lg-5 img{
    margin-top:11px ;
    margin-left: 40px;
}
.nav .col-lg-7 .nav_top li{
    width: auto;
    height: 95px;
    float: right;
    line-height: 95px;
    margin-right: 26px;
}
.nav .col-lg-7 .nav_top li a{
    color: #fff;
    font-weight: bold;
    font-family:黑体;
    font-size: 16px;
    text-decoration: none;
}
.nav .phone{
    margin-top: 135px;
    /*margin-bottom: 240px;*/
}
.nav .phone .phone_on{
    width: auto;
    height: 107px;
    color: #fff;
    font-size: 35px;
   text-align: center;
    line-height: 107px;
}
/*.dot{*/
    /*width: 124px;*/
    /*height: 30px;*/
   /*margin: 0 auto;*/
    /*background-color: rgba(0,0,0,0.3);*/
    /*border-radius: 15px;*/
    /*margin-top: 570px;*/
/*}*/
/*.dot ul li{*/
    /*list-style: none;*/
    /*width: 15px;*/
    /*height: 15px;*/
    /*border-radius: 100%;*/
    /*background-color: #fff;*/
    /*float: left;*/
    /*margin: 7px 8px;*/
/*}*/
/*.dot ul li:hover {*/
    /*background-color: #2196f3;*/
/*}*/
.big_header_middle{
    width: auto;
    height: 525px;
    background: #fff;
}
.data .data_top{
    width: auto;
    height: 58px;
    margin-top: 24px;
    text-align: center;
    font-size: 32px;
    line-height: 58px;
    color: #333333;
    font-weight: bold;
    font-family: 黑体;
}
.data .lump{
    width: 76px;
    height: 9px;
    background: #336699;
    margin: 0 auto;
}
.data .data1{
    margin-top:63px;
    padding-left: 123px;
}
.data .data1 .data_bottom li{
    width: 100%;
    height: 43px;
    float: left;
    font-size: 15px;
    line-height: 42px;
    border-bottom: 1px solid #c2c2c2;
}
.data .data2{
   padding-top:66px;
}
.data .data2 .data2_on{
    display: block;
   margin: 0 auto;
}
.data .data3{
    padding-top:66px;
}
.data .data3 h4{
    font-weight: bold;
}
.data .data3 .data3_text{
    color: #696969;
    line-height: 24px;
}
/*上屏结束*/
/*知识技能开始*/
.expertise_xs{
    width: auto;
    height:auto;
    background: #eeeeee;
}
.expertise_go h1{
    margin-top: 85px;
    width: auto;
    height: 63px;
    font-size: 33px;
    line-height: 63px;
    text-align: center;
    font-weight: bold;
}
.expertise_go .umderline{
    width: 80px;
    height: 8px;
    background: #336699;
    margin: 0 auto;
}
.expertise_go .expertise_on{
    margin-top: 44px;
    width: auto;
    height: auto;
}
.expertise_go .expertise_on li{
    width: auto;
    height: 213px;
    background: #fff;
    margin: 15px auto;
}
.expertise_on li .dataicon{
    width: 126px;
    height: 126px;
    margin: 0 auto;
    animation: pingyi 2s forwards infinite;
}
.expertise_on li .dataicon i{
    display: block;
   font-size: 60px;
    text-align: center;
    line-height: 126px;
}
.expertise_on li h5{
    width: auto;
    height: auto;
    font-size: 15px;
    text-align: center;
}
@keyframes pingyi {
    0%{
        transform:rotate(0deg);
    }
    50%{
        transform:rotate(180deg);
    }
    100%{
        transform:rotate(360deg);
    }
}

.expertise_lg{
    width: auto;
    height:auto;
    background: #eeeeee;
}
.expertise_go1 h1{
    margin-top: 85px;
    width: auto;
    height: 63px;
    font-size: 33px;
    line-height: 63px;
    text-align: center;
    font-weight: bold;
}
.expertise_go1 .umderline1{
    width: 80px;
    height: 8px;
    background: #336699;
    margin: 0 auto;
}
.expertise_go1 .expertise_on1{
    margin-top: 44px;
    width: auto;
    height: auto;
    display: flex;
}
.expertise_go1 .expertise_on1 li{
    width: auto;
    height: 213px;
    background: #fff;
    margin: 15px auto;
    /*float: left;*/
    justify-content: center;
}
.expertise_go1 .expertise_on1 li:nth-child(3){
    flex-wrap:wrap;
}
.expertise_on1 li .dataicon1{
    width: 126px;
    height: 126px;
    margin: 0 auto;
    animation: pingyi 2s forwards infinite;
}
.expertise_on1 li .dataicon1 i{
    display: block;
    font-size: 60px;
    text-align: center;
    line-height: 126px;
}
.expertise_on1 li h5{
    width: auto;
    height: auto;
    font-size: 15px;
    text-align: center;
}
@keyframes pingyi {
    0%{
        transform:rotate(0deg);
    }
    50%{
        transform:rotate(180deg);
    }
    100%{
        transform:rotate(360deg);
    }
}
/*知识技能结束*/
/*个人作品开始*/
.sample{
    background: url("../img/zu6.jpg") no-repeat;
    width: 100%;
    height: auto;
    /*background-size: 100%;*/
}
.sample .reels h1{
    margin-top: 85px;
    width: auto;
    height: 63px;
    font-size: 33px;
    line-height: 63px;
    text-align: center;
    font-weight: bold;
    color: #fff;
}
.sample .reels .reels_bottom{
    width: 80px;
    height: 8px;
    background: #336699;
    margin: 0 auto;
}
.sample .reels  .sample_on{
    width: auto;
    height: auto;
    margin:  30px 0;
}
.sample .reels  .sample_on li{
     width: 250px;
    height: 250px;
    /*background: red;*/
     margin: 10px auto;
}
.sample .reels  .sample_on li a img{
    display: block;
    width: 200px;
    height: 200px;
    margin: 0 auto;
}
.sample .reels  .sample_on li a p{
    width: auto;
    height: auto;
    font-size: 20px;
    color: #fff;
    text-align: center;
}
.sample .reels  .sample_on li a{
    text-decoration: none;
}
.sample1{
    background: url("../img/zu6.jpg") no-repeat;
    width: 100%;
    height: auto;
    /*background-size: 100%;*/
}
.sample1 .reels1 h1{
    margin-top: 85px;
    width: auto;
    height: 63px;
    font-size: 33px;
    line-height: 63px;
    text-align: center;
    font-weight: bold;
    color: #fff;
}
.sample1 .reels1 .reels_bottom1{
    width: 80px;
    height: 8px;
    background: #336699;
    margin: 0 auto;
}
.sample1 .reels1  .sample_on1{
    width: 100%;
    height:auto;
    margin:  30px 0;
    display: flex;
    justify-content: space-between;
}
.sample1 .reels1  .sample_on1 li{
    width: 300px;
    height: 300px;
}
.sample1 .reels1  .sample_on1 li a img{
    display: block;
    width: 200px;
    height: 200px;
    margin: 0 auto;
}
.sample1 .reels1  .sample_on1 li a p{
    width: auto;
    height: auto;
    font-size: 20px;
    color: #fff;
    text-align: center;
}
.sample1 .reels1  .sample_on1 li a{
    text-decoration: none;
}
/*个人作品结束*/
/*联系方式开始*/
.contact{
    background: #fff;
    width: 100%;
    height: auto;
}
.contact .way h1{
    margin-top: 85px;
    width: auto;
    height: 63px;
    font-size: 33px;
    line-height: 63px;
    text-align: center;
    font-weight: bold;
    color: #444444;
}
.contact .way .way_bottom{
    width: 80px;
    height: 8px;
    background: #336699;
    margin: 0 auto;
}
.contact .way .way_on1 div, .way_on2 div{
    width: auto;
    height: auto;
    margin: 20px auto;
   font-size: 30px;
    line-height: 100px;
    text-align: center;
    animation: suofang 2s forwards infinite;
}
@keyframes suofang {
    0%{
        transform:scale(1,1);
    }
    50%{
        transform:scale(0.5,0.5);
    }
    100%{
        transform:scale(1,1);
    }
}
.contact .way p{
    text-align: center;
    font-size: 25px;
}
.contact .way p a{
    color: #444444;
    text-decoration: none;
}
/*联系方式结束*/

/*超小屏幕*/
@media (max-width: 768px){
    .header1{
        display: block;
    }
    .big_header{
        display: none;
    }
    .big_header_middle{
        display: none;
    }
    .expertise_xs{
        display: block;
    }
    .expertise_lg{
        display: none;
    }
    .sample{
        display: block;
    }
    .sample1{
        display: none;
    }
}
/*小屏幕*/
@media (min-width: 768px){
   .header1{
       display: block;
   }
    .big_header{
        display: none;
    }
    .big_header_middle{
        display: none;
    }
    .expertise_xs{
        display: block;
    }
    .expertise_lg{
        display: none;
    }
    .sample{
        display: block;
    }
    .sample1{
        display: none;
    }
}
/*中等屏幕*/
@media (min-width: 992px){
    .header1{
        display: none;
    }
    .big_header{
        display: block;
    }
    .big_header_middle{
        display: block;
    }
    .expertise_xs{
        display: none;
    }
    .expertise_lg{
        display: block;
    }
    .sample{
        display: none;
    }
    .sample1{
        display: block;
    }
}
/*大屏幕*/
@media (min-width: 1200px){
    .header1{
        display: none;
    }
    .big_header{
        display: block;
    }
    .big_header_middle{
        display: block;
    }
    .expertise_xs{
        display: none;
    }
    .expertise_lg{
        display: block;
    }
    .sample{
        display: none;
    }
    .sample1{
        display: block;
    }
}